
!!! 5
%html
	%head
		%title ng-donate
		%script{src: "//code.angularjs.org/1.1.5/angular.min.js"}
		%link{rel: "stylesheet", href: "//yui.yahooapis.com/pure/0.2.1/pure-min.css"}
	%body
		%div.pure-g-r
			%div.pure-u-1-4
			%div.pure-u-1-2
				%h1 ng-donate